prometheus-node-exporter:
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: eks.amazonaws.com/compute-type
            operator: NotIn
            values:
            - fargate

kube-state-metrics:
  tolerations:
  - key: "devopsMangement"
    operator: "Exists"
    effect: "NoSchedule"

alertmanager:
  alertmanagerSpec:
    nodeSelector:
      system: ${tags_system}
      manage-team: devops
      namespace: kube-system
    tolerations:
    - key: "devopsMangement"
      operator: "Exists"
      effect: "NoSchedule"

prometheus:
  prometheusSpec:
    additionalScrapeConfigs: |
      - job_name: karpenter
        kubernetes_sd_configs:
        - role: endpoints
          namespaces:
            names:
            - karpenter
        relabel_configs:
        - source_labels:
          - __meta_kubernetes_endpoints_name
          - __meta_kubernetes_endpoint_port_name
          action: keep
          regex: karpenter;http-metrics
    nodeSelector:
      system: ${tags_system}
      manage-team: devops
      namespace: kube-system
    tolerations:
    - key: "devopsMangement"
      operator: "Exists"
      effect: "NoSchedule"
    persistentVolumeClaimRetentionPolicy:
      whenDeleted: Retain
      whenScaled: Retain
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: gp2
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 50Gi
              
prometheusOperator:
  nodeSelector:
    system: ${tags_system}
    manage-team: devops
    namespace: kube-system
  tolerations:
  - key: "devopsMangement"
    operator: "Exists"
    effect: "NoSchedule"
  admissionWebhooks:
    patch:
      nodeSelector:
        system: ${tags_system}
        manage-team: devops
        namespace: kube-system
      tolerations:
      - key: "devopsMangement"
        operator: "Exists"
        effect: "NoSchedule"

thanosRuler:
  thanosRulerSpec:
    nodeSelector:
      system: ${tags_system}
      manage-team: devops
      namespace: kube-system
    tolerations:
    - key: "devopsMangement"
      operator: "Exists"
      effect: "NoSchedule"


grafana:
  adminPassword: ${grafana_password}
  tolerations:
    - key: "devopsMangement"
      operator: "Exists"
      effect: "NoSchedule"
  dashboardProviders:
    dashboardproviders.yaml:
      apiVersion: 1
      providers:
      - name: 'default'
        orgId: 1
        folder: ''
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards/default
  dashboards:
    default:
      capacity-dashboard:
        url: https://karpenter.sh/v0.36/getting-started/getting-started-with-karpenter/karpenter-capacity-dashboard.json
      performance-dashboard:
        url: https://karpenter.sh/v0.36/getting-started/getting-started-with-karpenter/karpenter-performance-dashboard.json
  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
      - name: Prometheus
        type: prometheus
        version: 1
        url: http://kube-prometheus-stack-prometheus.kube-prometheus-stack.svc.cluster.local:9090
      access: proxy
  ingress:
    annotations:
      kubernetes.io/ingress.class: alb
      alb.ingress.kubernetes.io/backend-protocol: HTTP
      alb.ingress.kubernetes.io/certificate-arn: ${ingress_certs_arn}
      alb.ingress.kubernetes.io/healthcheck-path: /healthz
      alb.ingress.kubernetes.io/listen-ports: '[{"HTTPS": 443}]'
      alb.ingress.kubernetes.io/load-balancer-name: ${ingress_name}
      alb.ingress.kubernetes.io/scheme: internal
      alb.ingress.kubernetes.io/ssl-policy: ${ingress_ssl_policy}
      alb.ingress.kubernetes.io/subnets: ${ingress_subnets}
      alb.ingress.kubernetes.io/tags: ${ingress_tags}
      alb.ingress.kubernetes.io/target-type: ip
    enabled: ${ingress_enabled}
